{% extends 'base.html' %}

{% block link%}
"https://purepng.com/public/uploads/large/purepng.com-home-iconsymbolsiconsapple-iosiosios-8-iconsios-8-721522596056wkxtr.png"
{% endblock link%}

{% block title%}Home{% endblock title%}

{% block style %}
.btn-group-sm .btn, .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .6rem;
  background: black;
  margin: 0rem 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
{% endblock style %}


{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/OIP.3XK_aLbbC9Z_KlZwvMQiAwHaFj?pid=ImgDet&rs=1" class="d-block w-100" alt="..." width="400px" height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h5><b>Taste Ice-Creams of Different Variety</b></h5>
          <p>Our Ice-Cream Comes with 100+ variety and Flavour. Joker(From The Dark Knight) is our Brand-ambassador</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images4.alphacoders.com/212/212256.jpg" class="d-block w-100" alt="..." width="400px" height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h5><b>Made of 100% Pure Substances</b></h5>
          <p>No Artificial Color, Preservatives or other substance. It is made of original substances like original poision, milk, sugar etc...</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images6.alphacoders.com/337/337990.jpg" class="d-block w-100" alt="..." width="400px" height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h5><b>Wonderful Taste that You never Explore</b></h5>
          <p>Come as soon as possible to taste the most delicious ice-cream. Thanos get energy of his goal by tasting our ice-cream</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="container my-6">

    <h1 class="my-2 text-center">Select Our Range of Ice-Creams</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://th.bing.com/th/id/OIP.F0XnRsFbOaXrOO7n63ItEwHaEK?pid=ImgDet&rs=1" alt="" >
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://th.bing.com/th/id/R.c106c3400188dd93ded2dd47655b28e5?rik=YSOMVbBYi3joJA&riu=http%3a%2f%2ff.vividscreen.info%2fsoft%2fc384c1df9b0c3c94bf521585e348f30b%2fSummer-Food-Ice-Cream-1920x1080.jpg&ehk=Ehhvaza9nnFRiKizwbVBZhHQV5xKKfX8lsILoN7eYWU%3d&risl=&pid=ImgRaw&r=0" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://wallpaperset.com/w/full/2/3/5/100121.jpg" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://coolwallpaper-hd.com/wp-content/uploads/2020/07/Best-HD-Ice-Cream-Wallpaper.jpg" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://wallpaperscute.com/wp-content/uploads/2020/07/Computer-Wallpapers-Ice-Cream.jpg" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://wallpaperaccess.com/full/82640.jpg" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://uhdwallpapers.org/uploads/converted/18/04/03/ice-cream-1920x1080_59964-mm-90.jpg" alt="">
          <div class="card-body" >
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://th.bing.com/th/id/OIP.5Mgb6agZpRNOdJB08_-pUQHaEK?pid=ImgDet&w=1920&h=1080&rs=1" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://images5.alphacoders.com/404/404630.jpg" alt="">
          <div class="card-body">
            <p class="card-text">Indulge in creamy and delicious Sonu's ice cream! Perfect for any occasion, guaranteed to satisfy your sweet cravings.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Buy</a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



    
{% endblock body%}

